doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='description', content='#{view[0].content}')
    title #{view[0].usuarioName}
    
    link(rel='stylesheet', href='../stylesheets/normalize.css')
    
    link(rel='stylesheet', href='../stylesheets/viainti.css')


    script(src='https://code.jquery.com/jquery-1.11.2.min.js')
    
    script(src='../javascripts/viaintifrontend.js')
    
    script(src='../javascripts/viaintifrontendbackend.js')
    
    script(src='../../javascripts/app-via.js')

    script(src='../../javascripts/app-secondary.js')


  body

    header.menuViainti.bgHeader(data-role='header')
      include ../header-principal.jade
      
    main.view
     if view[0].content != ''
      header.description__Header
       figure.figure
        img(src="#{view[0].usuarioFoto}", alt="#{view[0].usuarioName}")
       figcaption.figcaption
        |#{view[0].usuarioName}
      div.description__Container
       p.description
         |  #{view[0].content}  
       p.description
         | #{functions.elapsedTime(view[0].date)}
     section.view__Posts--Visited
      figure.view__Posts--Visited--Figure
       if view[0].imagen != ''
        img(src="../uploads/usuarios/#{view[0].imagen}")
       if view[0].videon != ''
        //video
      div.view__Posts--Visited--Shared
       a.linkShared.facebook(href="")
        i(class="fa fa-facebook-official", aria-hidden="true")
        | Compartir con facebook
       a.linkShared.twitter(href="")
        i(class="fa fa-twitter", aria-hidden="true")
        | Compartir con twitter
    script.
      $(".facebook").click(function(){
       var _urlThis = window.location.href;
       var _url = 'https://www.facebook.com/sharer/sharer.php?u=' + _urlThis;
        window.open(_url, 'myWindow', 'width=500, height=500');
      });

      $(".twitter").click(function(){
        var _urlThis = window.location.href;
        var _url = 'https://twitter.com/share?url=' + _urlThis + '&text=' + '#{view[0].content}';
        window.open(_url, 'myWindow', 'width=500, height=500');
      });
