doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='description', content='Viainti')
    title #{web}
    
    link(rel='stylesheet', href='../stylesheets/normalize.css')
    
    link(rel='stylesheet', href='../stylesheets/viainti.css')

    link(rel='stylesheet', href='http://vjs.zencdn.net/5.9.2/video-js.css')
    
    link(href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css', rel='stylesheet')

    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    
    script(src="/socket.io/socket.io.js")

    script(src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js')
    script(src='../javascripts/viaintifrontend.js')
    
    script(src='../javascripts/viaintifrontendbackend.js')
    
    script(src='../../javascripts/app-via.js')

    script(src='../../javascripts/app-secondary.js')
    
    script(src='../javascripts/chat.js')

  body

    header.menuViainti.bgHeader(data-role='header')
      include header-principal.jade
      nav.linkMenu
        ul.contMenu
          li.liMenu
            a.aLinkMenu(href='#') Inicio
          li.liMenu
            a.aLinkMenu(href='../hoteles/') Hoteles
          li.liMenu
            a.aLinkMenu(href='../restaurantes/') Restaurantes
          li.liMenu
            a.aLinkMenu(href='../vuelos/') Viajes
          //li.liMenu
            a.aLinkMenu(href='#') Musica
          //li.liMenu
            a.aLinkMenu(href='#') Noticias
          //li.liMenu
            a.aLinkMenu(href='#') Juegos
    main
      //section.widgetUnico
        header.widgetUnico--Header
         div.widgetUnico--Header--Cont
          h2.title
           | Estoy en la ciudad de:
          h4.title--City
           | Buenos Aires
      section.contenidoPrincipal
        article.cont_Principal
          .cont_Planes_Hoy
            p.title_Planes.margen Planes para hoy:
          .cont_Planes_Hoy
            a.title_PlanesHoy(href="#")
             
             | Evento de musical el día de hoy estas cerca, Quieres ir?
          .cont_Planes_Hoy
            .title_User_Planes.margen
              p.title_User_Planes_Welcome.margen.enLinea Hola
              span.title_User.enLinea #{nombre}
              p.margen.enLinea Mi libro viajero
        article.cont_Principal_Cover
          article.cover_Ads
            h2.ads_Title_Top.cBlanco.margen.fontA
              | El valle
            h2.ads_Title_SubTop.cBlanco.margen.fontA
              | Sheraton
            button.btn_Cover_Ads
              a.linkBlanco(href='red.html') EXPLORAR
        section.cont_Principal_Dashboard
          article.Dashboard_Left
            figure.DashboardCity.margen
              img.imgCity(src='../images/widget.jpg', alt='')
              //div.iconCity
               i(class="fa fa-file-image-o")
            figpcation.DashboardCityDescription
              | Agrega tu nota mas importante del día de hoy
            .DashboardCityFunction
              .grafArrow
              .DashboardCityFunction--Cont
                .icoCity.enLinea
                  i.fa.fa-weixin.one--Ico
                .icoCity.enLinea.jsWidget
                  i.fa.fa-pencil-square-o.two--Ico
          article.Dashboard_Center
            article.Dashboard_Welcome
              figure.Dashboard_Map.margen
                // <img src="../images/mapa.jpg" alt="">
                #map(style='height: 312px')
                
              form.pubuser(action="", enctype="multipart/form-data" method="post", id="formPublisher")
                .Dashboard_Post
                  fieldset.uHidden
                    input(type="file", id="image", name="imagen")
                    input(type="file", id="video", name="videon")
                  textarea.Post_Home.noBorder(name='mensajepost', id='mensajepost', cols='', rows='', placeholder='Escribe tu primera visita, restaurante, hotel, etc')
                .Dashboard_Post_Send
                  .DashBoard_Send_Utils.flotaRight
                    .Send_Ico.enLinea
                      //.Send_Ico_Geo.enLinea
                        i.fa.fa-map-marker
                        .descriptionIcon
                         span.descriptionIcon--Title
                          | Ubicación
                      label.Send_Ico_Movi.enLinea(for="video")
                        i.fa.fa-film
                        .descriptionIcon
                         span.descriptionIcon--Title
                          | Video
                      label.Send_Ico_Photo.enLinea(for="image")
                        i.fa.fa-camera
                        .descriptionIcon
                         span.descriptionIcon--Title
                          | Foto
                    .Send_btnSubmit.enLinea
                      input.btn_Post.jsPostInLoading(type="submit", value="Publicar")
           
            each post in posts
                article.Dashboard_Post--User.uMargin(data-idpost="#{post.id}", data-iduser="#{post.usuarioId}")
                  if post.comentarios
                    article.Post--User
                      .Post--User--Date
                        .Post--Date
                          a.name(href="u/#{post.usuarioId}")
                            | #{post.usuarioName}
                        .Post--Date
                          span.date
                            | #{functions.elapsedTime(post.date)}
                      figure.Post--User--Foto.margen
                        img.User--Foto(src='#{post.usuarioFoto}', alt='')
                    article.Post--User--Txt
                      p.Post--Txt.margen
                        | #{post.content}
                      figure.Post--Figure--Img.margen(style='text-align:center')
                        if post.imagen!==''
                          img.Post--Img(src='../../uploads/usuarios/#{post.imagen}', alt='nombre de la foto')
                        if post.videon!==''
                          video(width="700", height="364" id="my-video" , controls class="video-js uCenterVideo", data-setup="{}")
                            source(src='../../uploads/videos/#{post.videon}', type='video/mp4')
                            |   Your browser does not support HTML5 video.
                    article.Post--User--Opt
                      .Post--User--Cont
                        .Post--User--Like
                          .User--Like
                           if post.likes
                            i.fa.fa-heart.jsLikeDashboard
                            .Like.enLinea
                              if post.likes.length >= 1
                                span.Like--Num(data-likesShow='yes')
                                  | #{post.likes.length} 
                                //span.Likes--Users
                                  | Personas
                           else
                            i.fa.fa-heart.jsLikeDashboard
                            .Like.enLinea
                              span.Like--Num
                                | 0
                        .Post--User--Coment
                          .User--Coment.jsShowComments
                            i.fa.fa-comments
                            .Comment.enLinea
                              span.Comment--Num
                                | #{post.comentarios.length}
                        //.Post--User-Shared
                          .User--Shared
                            i.fa.fa-share
                            .Shared.enLinea
                              span.Shared--Num
                                | 0
                    article.Post--User--CommentsViews
                      each co in post.comentarios
                        div.CommentsViews--Show
                            figure.CommentsViews--Show--Figure
                                img(src="#{co.userPhoto}", alt="")
                            aside.CommentsViews--Show--Data
                              a.Show--Name(href="u/#{co.userId}")
                                | #{co.userName}
                              a.Show--Hour #{functions.elapsedTime(co.userTime)}
                              p.Show--Comments
                                | #{co.userComment}
                    
                  else
                    article.Post--User
                      .Post--User--Date
                        .Post--Date
                          a.name(href="u/#{post.usuarioId}")
                            | #{post.usuarioName}
                        .Post--Date
                          span.date
                            | #{functions.elapsedTime(post.date)}
                      figure.Post--User--Foto.margen
                        img.User--Foto(src='#{post.usuarioFoto}', alt='')
                    article.Post--User--Txt
                      p.Post--Txt.margen
                        | #{post.content}
                      figure.Post--Figure--Img.margen(style='text-align:center')
                        if post.imagen!==''
                          img.Post--Img(src='../../uploads/usuarios/#{post.imagen}', alt='nombre de la foto')
                        if post.videon!==''
                          video(width="700", height="364" id="my-video" , controls class="video-js uCenterVideo", data-setup="{}")
                            source(src='../../../uploads/videos/#{post.videon}', type='video/mp4')
                            |   Your browser does not support HTML5 video.
                    article.Post--User--Opt
                      .Post--User--Cont
                        .Post--User--Like
                         if post.likes
                          .User--Like
                            i.fa.fa-heart.jsLikeDashboard
                            .Like.enLinea
                              if post.likes.length >= 1
                                span.Like--Num
                                  | #{post.likes.length}
                                //span.Likes--Users
                                  | Personas

                         else
                          .User--Like
                            i.fa.fa-heart.jsLikeDashboard
                            .Like.enLinea
                              span.Like--Num
                                | 0
                        .Post--User--Coment
                          .User--Coment
                            i.fa.fa-comments
                            .Comment.enLinea
                              span.Comment--Num
                                | 0
                        //.Post--User-Shared
                          .User--Shared
                            i.fa.fa-share
                            .Shared.enLinea
                              span.Shared--Num
                                | 0
                    article.Post--User--CommentsViews
                  article.Post--User--Comments
                      section.post--User--Comments--Cont
                        div.postUser--Coments--Iz
                          figure.figure--Comments
                            img.imgComments(src="#{avatar}")
                        div.posUser--Comments--De
                          form.postComments--Dashboard
                            input.textareComments.textareaVal(type="text", placeholder="Escriba su comentario", data-idpost="#{post.id}")
                            input(type="submit", class="uHidden")
                        
      
          aside.Dashboard_Right
            .Dashboard_Right_Menu
              header.Dashboard_Right_Title
                h4.cBlancoSidebarTitle.margen
                  | Que hacer
              div.Dashboard_Show--City
                .Show--City--Info
                  header.City--Info--Header
                    h2.title.jsTxtCityDashboard
                      | Buenos Aires
                  div.City--Info--Btn
                    a.Btn--Continue(href="#")
                      | Descubrir

            .Activity_Friend
              header.Dashboard_Right_Title.jsAfter
                h4.titleRight.margen.cBlancoSidebarTitle
                  | Ultimos Servicios
              
             


              
            
    //include chat.html
    script(src="http://vjs.zencdn.net/5.9.2/video.js")
