doctype html
head
  meta(charset='UTF-8')
  meta(name='description', content='Viainti')
  title Viainti
  link(rel='stylesheet', href='../../stylesheets/normalize.css')
  link(rel='stylesheet', href='../../stylesheets/viainti.css')
  <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />

  script(src="https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js")

  script(src='https://code.jquery.com/jquery-1.11.2.min.js')
  script(src='../../javascripts/restaurantesv1.js')
  script(src='../../javascripts/viaintifrontend.js')

  
header.menuViainti.bgHeader(data-role='header')
  include header-hotelesprofile
  nav.linkMenu
    ul.contMenu
      li.liMenu
        a.aLinkMenu(href='../../libro/') Inicio
      li.liMenu
        a.aLinkMenu(href='../../hoteles/') Hoteles
      li.liMenu
        a.aLinkMenu(href='../../restaurantes/') Restaurantes
      li.liMenu
        a.aLinkMenu(href='../../vuelos/') Viajes
      //li.liMenu
        a.aLinkMenu(href='#') Musica
      //li.liMenu
        a.aLinkMenu(href='#') Noticias
      //li.liMenu
        a.aLinkMenu(href='#') Juegos
main
  section.contenidoPrincipal
    section.cont_Principal_Dashboard
      article.Dashboard_Left--Hotel
        .Dashboard_Left--Hotel--Cont--Top
          figure.DashboardHotel.margen
            img.imgHotel(src='http://www.lebonmenu.com/gm-media/uploads/2016/02/chef1.jpg', alt='')
          .DashboardHotel--Acerca
            h4.Acerca--Title.margen Restaurante Genial
          figpcation.DashboardHotelDescription
            | es un restaurante genial y very good
          .DashboardHotel--Acerca--City
            h4.Acerca--City--Title.margen Ubicación:
            .Acerca--City--Title--Name
              p.City--Name.margen Buenos Aires
            h4.Acerca--City--Title.margen Dirección:
            .Acerca--City--Title--Name
              p.City--Name.margen.jsDireccion 
                | Av. corrientes 2451
          .DashboardHotel--Acerca--Mapa
            figure.Mapa.margen#map(data-latitud="#{latHotel}", data-longitud="#{lonHotel}")
              //img(src='../../images/hoteles/ubicacion.jpg', alt='')
        //.Dashboard_Left--Hotel--Cont--SubTop
          article.Dashboard--Hotel--Habitaciones
            header.Dashboard--Hotel--Title
              h4.Title.margen Habitaciones
            .Dashboard--Hotel--Listas
              ul.Listas--Contenedor
                li.Dashboard--Hotel--Listas
                  a.Dashboard--Hotel--Link(href='#')
                    | Matrimonial
                  .Dashboard--Hotel--Listas--Cantidad.enLinea
                    span.Title--Cantidad 29
                li.Dashboard--Hotel--Listas
                  a.Dashboard--Hotel--Link(href='#')
                    | Bicameral
                  .Dashboard--Hotel--Listas--Cantidad.enLinea
                    span.Title--Cantidad 10
                li.Dashboard--Hotel--Listas
                  a.Dashboard--Hotel--Link(href='#')
                    | Suites
                  .Dashboard--Hotel--Listas--Cantidad.enLinea
                    span.Title--Cantidad 10
                li.Dashboard--Hotel--Listas
                  a.Dashboard--Hotel--Link(href='#')
                    | Estándar
                  .Dashboard--Hotel--Listas--Cantidad.enLinea
                    span.Title--Cantidad 10
                li.Dashboard--Hotel--Listas
                  a.Dashboard--Hotel--Link(href='#')
                    | Premiun
                  .Dashboard--Hotel--Listas--Cantidad.enLinea
                    span.Title--Cantidad 10
                li.Dashboard--Hotel--Listas
                  a.Dashboard--Hotel--Link(href='#')
                    | Matrimonial Superior
                  .Dashboard--Hotel--Listas--Cantidad.enLinea
                    span.Title--Cantidad 10
                li.Dashboard--Hotel--Listas
                  a.Dashboard--Hotel--Link(href='#')
                    | Junior Suite
                  .Dashboard--Hotel--Listas--Cantidad.enLinea
                    span.Title--Cantidad 10
                li.Dashboard--Hotel--Listas
                  a.Dashboard--Hotel--Link(href='#')
                    | Triple
                  .Dashboard--Hotel--Listas--Cantidad.enLinea
                    span.Title--Cantidad 10
                li.Dashboard--Hotel--Listas
                  a.Dashboard--Hotel--Link(href='#')
                    | Simple
                  .Dashboard--Hotel--Listas--Cantidad.enLinea
                    span.Title--Cantidad 10
            .Dashboard--Hotel--VerMas
              .VerMas--Cont
                a.VerMas--Link(href='#')
                  | Ver todos
                i.fa.fa-plus
        //.Dashboard_Left--Hotel--Cont--Descuentos
          article.Dashboard--Hotel--Descuentos
            header.Dashboard--Hotel--Title
              h4.Title.margen Descuentos
            .Dashboard--Hotel--Descuentos--Listas
              ul.Descuentos--Listas
                li.Dashboard--Hotel--Descuentos
                  span.Hotel--Descuentos
                    | Con descuentos
                  .Hotel--Descuentos--Cantidad
                    span.Title--Cantidad
                      | %20
      article.Dashboard_Center
        article.Dashboard_Welcome
          form(class='sendHotel', id="formHotel")
            figure.Dashboard_Map.fijo.margen
              img(src='http://www.hoteles-silken.com/content/imgsxml/es/galerias/panel_restaurants_list/1/hoteles-puertamalaga-restaurante-restaurante-panoramica.jpg', alt='')
            .Dashboard_Post
              textarea.Post_Home.noBorder(name='', id='textData', cols='', rows='', placeholder='Escribelo a @#{nombreHotel}')
          .Dashboard_Post_Send
            .DashBoard_Send_Utils.flotaRight
              //.Send_Ico.enLinea
                .Send_Ico_Geo.enLinea
                  i.fa.fa-map-marker
                .Send_Ico_Movi.enLinea
                  i.fa.fa-film
                .Send_Ico_Photo.enLinea
                  i.fa.fa-camera
              .Send_btnSubmit.enLinea
                button.btn_Post--Hotel(type="submit")
                  a.linkBlanco.pubHotel(href='#')
                    | Publicar
      
        if !posts
          div.linesNotComments
            .lineNotComments--One
            .lineNotComments--Two
            .lineNotComments--Tree
        else
          each key in posts
            article.Dashboard_Post--User
              article.Post--User
                .Post--User--Date
                  .Post--Date
                    span.name
                      | #{key.name}
                  .Post--Date
                    span.date
                      | Publicado hace 2 horas
                figure.Post--User--Foto.margen
                  img.User--Foto(src='#{key.foto}', alt='')
              article.Post--User--Txt
                p.Post--Txt.margen
                  | #{key.content}
              //article.Post--User--Opt
                .Post--User--Cont
                  .Post--User--Like
                    .User--Like
                      .Like.enLinea
                        span.Like--Num
                          | 10
                      i.fa.fa-heart
                  .Post--User--Coment
                    .User--Coment
                      .Comment.enLinea
                        span.Comment--Num
                          | 8
                      i.fa.fa-comments
                  .Post--User-Shared
                    .User--Shared
                      .Shared.enLinea
                        span.Shared--Num
                          | 3
                      i.fa.fa-share
        
      aside.Dashboard_Right
        //.Activity_Friend
          header.Dashboard_Right_Title
            h4.titleRight.margen.cBlancoSidebarTitle
              | Actividades de mis amigos
          article.Dashboard_User
            figure.userActividity.margen.flotaLeft
              img.user_Img(src='../../images/avatar.png', alt='Edinson Carranza')
            article.user_Details.flotaLeft
              figcaption.userName.cAzulClaroUser
                | @edinson
              p.userInfo.margen
                | ceno en 
                span.userInfo_Category
                  | Rest
                | 									joya
            .user_Details_Check
              input(type='checkbox')
          article.Dashboard_User
            figure.userActividity.margen.flotaLeft
              img.user_Img(src='../../images/avatar.png', alt='Edinson Carranza')
            article.user_Details.flotaLeft
              figcaption.userName.cAzulClaroUser
                | @edinson
              p.userInfo.margen
                | ceno en 
                span.userInfo_Category
                  | Rest
                | 									joya
            .user_Details_Check
              input(type='checkbox')
          article.Dashboard_User
            figure.userActividity.margen.flotaLeft
              img.user_Img(src='../../images/avatar.png', alt='Edinson Carranza')
            article.user_Details.flotaLeft
              figcaption.userName.cAzulClaroUser
                | @edinson
              p.userInfo.margen
                | ceno en 
                span.userInfo_Category
                  | Rest
                | 									joya
            .user_Details_Check
              input(type='checkbox')
          article.Dashboard_User
            figure.userActividity.margen.flotaLeft
              img.user_Img(src='../../images/avatar.png', alt='Edinson Carranza')
            article.user_Details.flotaLeft
              figcaption.userName.cAzulClaroUser
                | @edinson
              p.userInfo.margen
                | ceno en 
                span.userInfo_Category
                  | Rest
                | 									joya
            .user_Details_Check
              input(type='checkbox')
          article.Dashboard_User
            figure.userActividity.margen.flotaLeft
              img.user_Img(src='../../images/avatar.png', alt='Edinson Carranza')
            article.user_Details.flotaLeft
              figcaption.userName.cAzulClaroUser
                | @edinson
              p.userInfo.margen
                | ceno en 
                span.userInfo_Category
                  | Rest
                | 									joya
            .user_Details_Check
              input(type='checkbox')
        //.Dashboard_Right_Menu
          header.Dashboard_Right_Title
            h4.cBlancoSidebarTitle.margen
              | Mi libro viajero
          ul.Dashboard_Right_Menu
            li.list-Right--Menu
              a.link-Right--Menu(href='#')
                i.fa.fa-folder
                | 									crear grupo
            li.list-Right--Menu
              a.link-Right--Menu(href='#')
                i.fa.fa-calendar
                | 									crear evento
            li.list-Right--Menu
              a.link-Right--Menu(href='#')
                i.fa.fa-briefcase
                | 									top viajeros
            li.list-Right--Menu
              a.link-Right--Menu(href='#')
                i.fa.fa-pencil
                | 									redactar noticia
        //.Dashboard_Right_Menu
          header.Dashboard_Right_Title
            h4.cBlancoSidebarTitle.margen
              | Hoteles
          ul.Dashboard_Right_Menu
            li.list-Right--Menu
              a.link-Right--Menu(href='#')
                i.fa.fa-bed
                | 									el mas cercano
            li.list-Right--Menu
              a.link-Right--Menu(href='#')
                i.fa.fa-phone
                | 									reservar ahora
        .Dashboard_Right_Menu
          header.Dashboard_Right_Title
            h4.cBlancoSidebarTitle.margen
              | Servicios
          ul.Dashboard_Right_Menu
            li.list-Right--Menu
              a.link-Right--Menu(href='#')
                i.fa.fa-phone
                | 									Nuestros Platos
            li.list-Right--Menu
              a.link-Right--Menu(href='#')
                i.fa.fa-home
                | 									reservar ahora
        //.Dashboard_Right_Menu
          header.Dashboard_Right_Title
            h4.cBlancoSidebarTitle.margen
              | Viajes
          ul.Dashboard_Right_Menu
            li.list-Right--Menu
              a.link-Right--Menu(href='#')
                i.fa.fa-plane
                | 									destinos
            li.list-Right--Menu
              a.link-Right--Menu(href='#')
                i.fa.fa-star
                | 									promociones
        //.Dashboard_Right_Menu
          header.Dashboard_Right_Title
            h4.cBlancoSidebarTitle.margen
              | Música
          ul.Dashboard_Right_Menu
            li.list-Right--Menu
              a.link-Right--Menu(href='#')
                i.fa.fa-music
                | 									Mi colección
            li.list-Right--Menu
              a.link-Right--Menu(href='#')
                i.fa.fa-heart
                | 									Historia
        //.Dashboard_Right_Menu
          header.Dashboard_Right_Title
            h4.cBlancoSidebarTitle.margen
              | Juegos
          ul.Dashboard_Right_Menu
            li.list-Right--Menu
              a.link-Right--Menu(href='#')
                i.fa.fa-smile-o
                | 									Desarrolladores
            li.list-Right--Menu
              a.link-Right--Menu(href='#')
                i.fa.fa-gamepad
                | 									Juega

script(src='../../javascripts/maps.js')
