doctype html
html(lang='es', ng-app="viainti")
  head
    meta(charset='UTF-8')
    meta(name='description', content='Viainti')
    title #{web}
    link(rel='stylesheet', href='../stylesheets/normalize.css')
    link(rel='stylesheet', href='../stylesheets/viainti.css')

    link(rel='stylesheet', href="https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css")

    script(src="https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js")

    script(src='https://code.jquery.com/jquery-1.11.2.min.js')
    
    script(src='../javascripts/viaintifrontend.js')
    script(src='../javascripts/viaintifrontendbackend.js')
    script(src='../javascripts/restaurantes.js')

  body.BodyListRestaurante
    header.menuViainti.bgHeader(data-role='header')
      include header-principal.jade
      nav.linkMenu
        ul.contMenu
          li.liMenu
            a.aLinkMenu(href='../libro/') Inicio
          li.liMenu
            a.aLinkMenu(href='../hoteles') Hoteles
          li.liMenu
            a.aLinkMenu.aMenuHover.aColorHover(href='#') Restaurantes
          li.liMenu
            a.aLinkMenu(href='../vuelos') Viajes
    main
      section.listMap
        .listMap--Map#mapRest
        
      section.listMapDetails
        aside.listMapDetails--Aside
          article.listMapDetails--Aside--Rest
            figure.aside--Rest--Figure.margen
              img.listRestImgAside(src='../uploads/services/#{listRest[0].Imagen}', alt='')
            figpcation.aside--Rest--FigureDetail
              label.Title(for='') #{listRest[0].Nombre}
              p.Title--subDescription.margen
                | #{listRest[0].Descripccion}
          ul.listMapDetails--Services--Rest
            header.services--Rest--Header
              h2.Title.margen
                | Nuestros Servicios
           
            li.services--Rest--List
              figure.services--Rest--List--Figure.margen
                img.imgServicesRest(src='../uploads/services/#{listRest[0].Imagen}', alt='')
              .services--Rest--Description
                span.services--Rest--Title
                  | #{listRest[0].Descripccion}
                a.services--Rest--Price(href="#{listRest[0].Nombre}?id=#{listRest[0]._id}")
                  | Ver
           
        .listMapDetails--Locals
          header.Locals--Header
            h2.Title.margen
              | Lista de restaurantes
          section.Locals--Show
           each re in listRest
            article.Locals--List
             figure.Locals--List--Figure.margen
              img.imgListHotel(src="../uploads/services/#{re.Imagen}", alt="#{re.Nombre}")
             aside.Locals--List--Aside
              header.List--Aside--Header
               h2.Title.margen
                | #{re.Nombre}
              div.List--Aside--Description
               p.List--Description--Hotels.margen
                | #{re.Descripccion}
              div.List--Aside--Data
               ul.List--Aside--Data--Iz
                label.Data--Iz--TitleUb
                 | Ubicación
                li.Data--Iz--TitleUb--Detail
                 span.TitleUb--Detail--Adress
                  | #{re.Direccion}
              div.List--Aside--Btn
               a.Aside--BtnMap(data-lat="#{re.Latitud}", data-lon="#{re.Longitud}")
                span.BtnMap--Ico
                 i.fa.fa-map-marker
                span.BtnMap--Title
                 | Ver Mapa
               - var name = re.Nombre
               - var letterLow = name.toLowerCase();
               - var encode = encodeURIComponent(letterLow)
               - var replaceOne = encode.replace('%20', '-')
               - var replaceTwo = replaceOne.replace('%20', '-')
               - var replaceTree = replaceTwo.replace('%20', '-')
               - var replaceFour = replaceTree.replace('%20', '-')
               a.Aside--BtnMap(href="show/#{replaceTwo}?id=#{re._id}",data-hoteles="#{re._id}")
                btn.BtnMap--Ico
                 i.fa.fa-info-circle
                span.BtnMap--Title
                 | Info
    script(src="../javascripts/maparest.js")